*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body { 
  padding-bottom: 70px;
 }

.container-fluid {
  outline: 3px solid black;
}

button[type] {
  width: 3em;
  height: 2em;
}

.taxi-img {
  background-image: url(../assets/images/taxi.jpg);
  background-position: center bottom;
  background-size:cover;
  height: 60em;
  width: 100%;
}

.footer {
  color:whitesmoke;
  background-color: #2b2b2b;
  height: 23em;
  padding-left: 1em;
}

.icons {
  float: left; 
  margin-left: 0%;
}


.android {
  width: 7em;
}

.apple {
  width: 7em;
}

.map{
  background-color: #f7b617;
  color: white;
  height: 20em;
}

.location {
  outline: 2px solid red;
}

